body{
	background-color: blue;
}

h1{
	text-align: center;
	background-color: #4682B4;
	color: white;
}

p{
	text-align: center;
	font-size: 25px;
	color: white;
}

h3{
	text-align: center;
	color: white;
}